<!DOCTYPE html>
<html>
<head>
	<title>Cuong's search engine</title>
</head>
<body>

<center>
	<h1>Vọc Vạch</h1>
	<img src="http://www.iconarchive.com/download/i60665/double-j-design/origami-colored-pencil/green-search.ico">
	<form action="/searchword" method="get">
		<input type="text" style="margin-top: 10px; height: 27px; width: 200px" name="query" value="{{ query }}">
		<br><br>
		<input type="submit" style="margin-bottom: 20px;font-size: 19px;background-color: #87c16a;" value="Search">
	</form>	
</center>

</body>
</html>